* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: #FFF;
  padding: 30px;
}
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom,
   rgba(126, 213, 111, 0.8),
    rgba(40,180,131, 0.8)),
    url('img/nature1.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);

}

.logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo {
  height: 70px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-title {
  color: #FFFFFF;
  text-transform: uppercase;
}

.header-title-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.header-title-secondary {
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 31px;
  animation-name: moveInRight;
  animation-duration: 1s;
  margin-bottom: 60px;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translate(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {

  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 10px;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.btn-white {
  background-color: white;
  color: #777
}