* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: #FFF;
  padding: 30px;
}
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom,
   rgba(126, 213, 111, 0.8),
    rgba(40,180,131, 0.8)),
    url('img/nature1.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);

}

.logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo {
  height: 70px;
}